    /*BUTTON*/
    .bottom-buttons {
        position: fixed;
        bottom: 1em;
        left: 43%;
        transform: translateX(-30%);
        display: flex;
        justify-content: center;
    }
    .button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Noto Serif KR', serif;
        color: white;
        font-size: 0.9em; /*펼쳐보기, 모아보기 크기*/
        font-weight: lighter;
        margin: 0 8px;
        padding: 25px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .button img {
        width: 2.8em;
        margin-right: 1.2em;
    }
    .button span {
        white-space: nowrap; /* 텍스트가 줄바꿈 되지 않도록 설정 */
        display: inline-block; /* span 요소를 inline-block으로 설정 */
        min-width: 3em; /* 텍스트 영역의 최소 너비 설정 */
}
    .unfold {
     opacity: 0.6; /* 펼쳐보기 버튼은 투명도가 100% */
    }
    .fold {
     opacity: 0.2; /* 모아보기 버튼은 투명도가 50% */
    }